body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: navy;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    background: linear-gradient(royalblue, navy);
    height: 175px;
    font-size: 55px;
    text-align: center;
    font-family: 'Chilanka';
    font-weight: 1000;
}

article {
    margin-top: 0;
    background: Navy;
    color: white;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-style: italic;
}

.main {
    flex: 1;
    background: navy;
    color: aqua;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

#flex-opp1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flex-opp2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flex-opp3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opponents {
    font-size: 36px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#player {
    font-family: 'Purisa';
}

#computer {
    font-family: 'Ubuntu';
}

.results {
    background: navy;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    margin-top: 200px;
    font-size: 48px;
    padding: 10px;
    background-color: royalblue;
    color: white;
}

#outcome {
    color: white;
    margin-top: 0;
    font-weight: lighter;
    font-style: italic;
}

#score {
    color: white;
}

#win {
    color: navy;
}

#roundNumber {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin: 0;
    color: aqua;
    font-size: 36px;
    text-align: center;
}

.choices {
    display: flex;
    margin-left: 30px;
    gap: 30px;
}

.button-choice {
    width: 200px;
    height: 250px;
}

button {
    font-size: 36px;
    border-radius: 10%;
    font-weight: bolder;
    transition: 0.5s;
}

button:hover {
    border-top: 2px solid royalblue;
    border-left: 2px solid royalblue;
    border-bottom: 2px solid aqua;
    border-right: 2px solid aqua;
}

#rock {
    background-color: black;
    background-image: url("Images/rock.jpg");
    background-size: cover;
    color: transparent;
    
    
}

#rock:hover {
    background-image: none;
    color: gray;
}

#paper {
    background-color: black;
    background-image: url("Images/paper.jpg");
    background-size: cover;
    color: transparent;
}

#paper:hover {
    background-image: none;
    color: antiquewhite;
}

#scissors {
    background-color: black;
    background-image: url("Images/scissors.jpg");
    background-size: cover;
    color: transparent;
}

#scissors:hover {
    background-image: none;
    color: darkslateblue;
}
