@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/* Indie Flower --- paper, handwriting, flowy */
/* Rammetto One --- rock, blocky and round*/
/* Londrina Solid --- scissors, sharp and elegant*/
/* Lilita One --- header font */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: navy;
}

header {
    display: flex;
    flex-direction: column;
    background-color: navy;
    background: linear-gradient( royalblue, navy);
    width: 100vw;
}

h1 {
    text-align: center;
    font-size: 5vmax;
    color: transparent;
    font-family: 'Lilita One';
    font-weight: normal;
}

.rock-font {
    font-family: 'Rammetto One';
    color: darkgray;
}

.paper-font {
    font-family: 'Indie Flower';
    color: cornsilk;
}

.scissors-font {
    font-family: 'Londrina Solid';
    color: orange;
    font-weight: normal;
}

article {
    margin-top: 0;
    background: Navy;
    color: white;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-style: italic;
}

.main {
    flex: 1;
    background: navy;
    color: aqua;
    display: flex;
}

#flex-opp1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flex-opp2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flex-opp3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opponents {
    font-size: 36px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#player {
    font-family: 'Purisa';
}

#computer {
    font-family: 'Ubuntu';
}

.results {
    background: navy;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    margin-top: 200px;
    font-size: 2rem;
    padding: 2vmin;
    background-color: royalblue;
    color: white;
}

#outcome {
    color: white;
    margin-top: 0;
    font-weight: lighter;
    font-style: italic;
}

#score {
    color: white;
}

#win {
    color: navy;
}

#roundNumber {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

.play-round {
    background: royalblue; 
    color: white;
    font-size: 1rem;
}

h2 {
    margin: 0;
    color: aqua;
    font-size: 36px;
    text-align: center;
}

.select-move {
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
}

.button-choice {
    width: 30vmin;
    height: 35vmin;
    border-color: transparent;
    background-color: navy;
}

.button-choice:hover {
    background-color: black;
}

button {
    font-size: 6vmin;
    border-radius: 10px;
    font-weight: bolder;
    transition: 0.5s;
}

button:hover {
    border-top: 2px solid royalblue;
    border-left: 2px solid royalblue;
    border-bottom: 2px solid aqua;
    border-right: 2px solid aqua;
}

#rock {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-family: 'Rammetto One';
}

#rock:hover {
    color: gray;
}

.lump {
    width: 80%;
    height: 40%;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 35%;
    background-color: darkgray;
    box-shadow: 2vmin 1vmin gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paper {
    color: transparent;
    font-family: 'Indie Flower';
    font-weight: normal;
}

#paper:hover {
    color: burlywood;
}

.paper-sheets {
    width: 75%;
    height: 80%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    border-right: 0.5vmin solid bisque;
    border-bottom: 0.5vmin solid bisque;
    box-shadow: 15px 10px cornsilk;
}

#scissors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-family: 'Londrina Solid';
    font-weight: 300;
}

#scissors:hover {
    color: white;
}

.scissors-text {
    position: absolute;
    z-index: 200;
}

.half {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
}

.top {
    rotate: 25deg;
    
}

.bottom {
    rotate: -25deg;
    margin-top: -65px;
}

.handle {
    border: 1.5vmin solid orange;
    width: 35%;
    height: 60%;
    border-radius: 50%;
    z-index: 100;
}

.blade {
    background-color: darkgray;
    width: 75%;
    height: 25%;
    border-top-right-radius:50%;
    border-bottom-right-radius: 50%;
    margin-left: -10px;
    align-self: center;
    padding-left: 20px;
}
