body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    background: linear-gradient(royalblue, navy);
    height: 175px;
    font-size: 55px;
    text-align: center;
    font-family: 'Chilanka';
    font-weight: 1000;
}

article {
    margin-top: 0;
    background: Navy;
    color: white;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-style: italic;
}

.main {
    flex: 1;
    background: navy;
    padding: 0;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.results {
    background: navy;
    text-align: center;
    padding: 50px;
    font-size: 40px;
    font-weight: bold;
}

#outcome {
    color: white;
    margin-top: 0;
    font-weight: lighter;
    font-style: italic;
}

#score {
    color: white;
}

#win {
    color: navy;
}

#roundNumber {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin: 0;
    color: aqua;
    font-size: 36px;
    text-align: center;
}

#player {
    font-family: 'Purisa';
}

#computer {
    font-family: 'Ubuntu';
}

.choices {
    display: flex;
    margin-left: 30px;
    gap: 30px;
}

.button-choice {
    width: 200px;
    height: 250px;
}

button {
    font-size: 36px;
    border-radius: 10%;
    font-weight: bolder;
    transition: 0.5s;
}

button:hover {
    border-top: 3px solid royalblue;
    border-left: 3px solid royalblue;
    border-bottom: 3px solid aqua;
    border-right: 3px solid aqua;
}

#rock {
    background-color: black;
    background-image: url("Images/rock.jpg");
    background-size: cover;
    color: transparent;
    
    
}

#rock:hover {
    background-image: none;
    color: gray;
}

#paper {
    background-color: black;
    background-image: url("Images/paper.jpg");
    background-size: cover;
    color: transparent;
}

#paper:hover {
    background-image: none;
    color: antiquewhite;
}

#scissors {
    background-color: black;
    background-image: url("Images/scissors.jpg");
    background-size: cover;
    color: transparent;
}

#scissors:hover {
    background-image: none;
    color: darkslateblue;
}
