body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    background: linear-gradient(royalblue, navy);
    height: 200px;
    font-size: 72px;
    text-align: center;
    font-family: 'Chilanka';
    font-weight: 1000;
}

article {
    background: Navy;
    color: white;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-style: italic;
    /*border: 3px dashed magenta;*/
}

.main {
    flex: 1;
    background: navy;
    margin: 0;
    padding: 0;
    color: aqua;
}

h2 {
    margin: 0;
    color: aqua;
    font-size: 48px;
    text-align: center;
}

h4 {
    padding: 10px;
    border: 2px dotted yellow;
    width: 300px;
}

#player {
    font-family: 'Purisa';
    margin-top: -5px;
    margin-bottom: 30px;
}

#computer {
    font-family: 'Ubuntu';
}

#outcome {
    border-top: 5px solid white;
    margin-top: 30px;
    padding-top: 30px;
}

.choices {
    display: flex;
    margin-left: 30px;
    gap: 30px;
}

button {
    font-size: 36px;
    border-radius: 10%;
    font-weight: bolder;
    color: black;
    border-top: 3px solid aqua;
    border-left: 3px solid aqua;
    border-bottom: 3px solid royalblue;
    border-right: 3px solid royalblue;
    
}

#rock {
    background: orange;
}

#paper {
    background: yellow;
}

#scissors {
    background: red;
}